body{
  background-color: #282c34 !important;

}
#root {

  font-size: calc(10px + 2vmin);
  color: white;

}
.content {
  width: 100%;
  padding:1em;
}

.search-form {
  max-width: 500px
}
.search-form * {
  margin: 1em 0;
}
.search-form button {
  display: block;
}
